@page
@model FizzBuzzBazaDanych.Pages.DeleteModel
@{
}
<h3>Czy na pewno chcesz usunąć ten wpis?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FizzBuzz.Result)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FizzBuzz.Result)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FizzBuzz.SearchedValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FizzBuzz.SearchedValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FizzBuzz.LastSearchDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FizzBuzz.LastSearchDate)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="FizzBuzz.Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-page="./Index">Wróć do strony głównej</a>
    </form>
</div>